@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: "General Sans";
  src: url("../assets/fonts/GeneralSans-Variable.woff2");
}

:root {
  --font-general-sans: "General Sans", sans-serif;

  --font-dm-sans: "DM Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* Custom Colors */
  --accent-green: #3bb5a5;
  --primary-gray: #0000008f;
  --primary-blue: #de54b1;
  --primary-red: #db2424;
  --primary-green: #65b545;
  --primary-yellow: #f5bd14;
  --light-gray: #e8e8e8;
  --demin-primary-50: #e9f2f6;
  --demin-primary-100: #b8d3e3;
}

* {
  font-family: var(--font-montserrat) !important;
}

body {
  margin: 0;
  padding: 0;
}

/* Hide Scrollbar */
.scroll-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.border-red {
  @apply border border-red-500;
}

/* --------- Custom Utilities ----------- */

.flex-center-start {
  @apply flex items-center justify-start;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-center-between {
  @apply flex items-center justify-between;
}

.flex-start-between {
  @apply flex items-start justify-between;
}

.flex-center-start {
  @apply flex items-center justify-start;
}

.flex-start-start {
  @apply flex items-start justify-start;
}

/* Ant design override */
.ant-modal-close-icon * {
  fill: black !important;
}
.ant-menu-item-selected {
  background: linear-gradient(180deg, #ffd6b3 0%, #de54b1 100%) !important;
  color: white !important;
}

.ant-table-cell {
  font-weight: 500;
}

.ant-form-item-label label {
  font-weight: 500;
}

.ant-popconfirm-description {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.ant-tabs-tab-btn {
  font-weight: 500;
}

.ant-input {
  font-weight: 450 !important;
}

.ant-otp input {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

/* css for loader */
/* From Uiverse.io by Nawsome */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider {
  overflow: hidden;
  background-color: white;
  margin: 0 15px;
  height: 80px;
  width: 20px;
  border-radius: 30px;
  box-shadow:
    15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 30px #fff,
    inset -5px -5px 10px rgba(0, 0, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow:
    inset 0px 0px 0px rgba(0, 0, 0, 0.3),
    0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}

.valueSelected .ant-select-selector,
.valueSelected .ant-select-selector:focus,
.valueSelected .ant-select-selector:hover {
  border: 1px solid var(--primary-green) !important;
}

.valueNotSelected .ant-select-selector,
.valueNotSelected .ant-select-selector:focus,
.valueNotSelected .ant-select-selector:hover {
  border: 1px solid var(--primary-blue) !important;
}
